In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
df = pd.read_csv('/kaggle/input/adult-census-income/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
df.describe(), df.isnull().sum()

(                age        fnlwgt  education.num  capital.gain  capital.loss  \
 count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
 mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
 std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
 min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
 25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
 50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
 75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
 max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

        hours.per.week
 count    32561.000000
 mean        40.437456
 std         12.347429
 min          1.000000
 25%         40.000000
 50%         40.000000
 75%         45.000000
 max         99.000000  ,
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education.num     0
 marital.status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital.gain      0
 capital.loss      0
 hours.per.week    0
 native.country    0
 income            0
 dtype: int64)

In [ ]:
df['workclass'].value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [ ]:
df.shape

(32561, 15)

In [ ]:
df['workclass'].mode()

0    Private
Name: workclass, dtype: object

In [ ]:
df['workclass'].replace("?", "Private", inplace=True)

In [ ]:
df['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [ ]:
import random
df['occupation'].replace("?", random.choice(["Prof-specialty", "Craft-repair", "Exec-managerial"]), inplace=True)

In [ ]:
(df=="?").sum()

age                 0
workclass           0
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          0
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      0
native.country    583
income              0
dtype: int64

In [ ]:
filtered_df = df[df['native.country'] != "?"]
(filtered_df == "?").sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [ ]:
filtered_df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,HS-grad,9,Widowed,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,Some-college,10,Widowed,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
cols = ["workclass", "education", "marital.status", "occupation", "relationship", "race", "sex", "native.country", "income"]
for col in cols:
    print(df[col].value_counts())

Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64
Prof-specialty       5983
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Male      21790
Female    10771
Name: sex, dtype: int64
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64
<=50K    24720
>50K      7841
Name: income, dtype: int64

In [ ]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [ ]:
filtered_df['workclass'] = label_encoder.fit_transform(filtered_df['workclass'])

/tmp/ipykernel_32/1654300442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['workclass'] = label_encoder.fit_transform(filtered_df['workclass'])

In [ ]:
df = filtered_df

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,3,77053,11,9,6,9,1,4,0,0,4356,40,38,0
1,82,3,132870,11,9,6,3,1,4,0,0,4356,18,38,0
2,66,3,186061,15,10,6,9,4,2,0,0,4356,40,38,0
3,54,3,140359,5,4,0,6,4,4,0,0,3900,40,38,0
4,41,3,264663,15,10,5,9,3,4,0,0,3900,40,38,0

In [ ]:
df.corr()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
age,1.000000,0.040069,-0.076704,-0.009375,0.036614,-0.265736,0.002228,-0.264718,0.026615,0.089035,0.077490,0.057282,0.068299,-0.000323,0.233601
workclass,0.040069,1.000000,-0.024580,0.005492,0.003004,-0.019893,0.007707,-0.058477,0.050095,0.071219,0.032514,0.001539,0.042582,-0.001825,0.001736
fnlwgt,-0.076704,-0.024580,1.000000,-0.028538,-0.044256,0.028455,-0.000349,0.010490,-0.021784,0.025624,0.001087,-0.010139,-0.018885,-0.063954,-0.009014
education,-0.009375,0.005492,-0.028538,1.000000,0.359094,-0.038663,-0.041766,-0.011239,0.014345,-0.027212,0.030829,0.016990,0.056381,0.077016,0.080056
education.num,0.036614,0.003004,-0.044256,0.359094,1.000000,-0.068945,0.069393,-0.094473,0.035302,0.011326,0.122736,0.080565,0.149417,0.089206,0.335883
marital.status,-0.265736,-0.019893,0.028455,-0.038663,-0.068945,1.000000,0.035577,0.185034,-0.068888,-0.129334,-0.042842,-0.034046,-0.193249,-0.021846,-0.198467
occupation,0.002228,0.007707,-0.000349,-0.041766,0.069393,0.035577,1.000000,-0.038203,-0.003168,0.047865,0.018765,0.011123,-0.012956,-0.002652,0.035885
relationship,-0.264718,-0.058477,0.010490,-0.011239,-0.094473,0.185034,-0.038203,1.000000,-0.117787,-0.581323,-0.059439,-0.062169,-0.248907,-0.010668,-0.250866
race,0.026615,0.050095,-0.021784,0.014345,0.035302,-0.068888,-0.003168,-0.117787,1.000000,0.090093,0.013858,0.021101,0.045787,0.121527,0.072713
sex,0.089035,0.071219,0.025624,-0.027212,0.011326,-0.129334,0.047865,-0.581323,0.090093,1.000000,0.049508,0.045840,0.229645,0.001556,0.216070
capital.gain,0.077490,0.032514,0.001087,0.030829,0.122736,-0.042842,0.018765,-0.059439,0.013858,0.049508,1.000000,-0.031499,0.079112,0.008530,0.222703
capital.loss,0.057282,0.001539,-0.010139,0.016990,0.080565,-0.034046,0.011123,-0.062169,0.021101,0.045840,-0.031499,1.000000,0.053106,0.009153,0.149353
hours.per.week,0.068299,0.042582,-0.018885,0.056381,0.149417,-0.193249,-0.012956,-0.248907,0.045787,0.229645,0.079112,0.053106,1.000000,0.006238,0.230448
native.country,-0.000323,-0.001825,-0.063954,0.077016,0.089206,-0.021846,-0.002652,-0.010668,0.121527,0.001556,0.008530,0.009153,0.006238,1.000000,0.023179
income,0.233601,0.001736,-0.009014,0.080056,0.335883,-0.198467,0.035885,-0.250866,0.072713,0.216070,0.222703,0.149353,0.230448,0.023179,1.000000

In [ ]:
X = df[["age", "workclass", "education", "education.num", "occupation", "race", "sex", "capital.gain", "hours.per.week", "native.country"]].values

In [ ]:
Y = df['income'].values

In [ ]:
X, Y

(array([[90,  3, 11, ...,  0, 40, 38],
        [82,  3, 11, ...,  0, 18, 38],
        [66,  3, 15, ...,  0, 40, 38],
        ...,
        [40,  3, 11, ...,  0, 40, 38],
        [58,  3, 11, ...,  0, 40, 38],
        [22,  3, 11, ...,  0, 20, 38]]),
 array([0, 0, 0, ..., 1, 0, 0]))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=40)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [ ]:
classifier = DecisionTreeClassifier(criterion = 'gini', random_state = 40)

In [ ]:
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=40)

In [ ]:
Y_preds = classifier.predict(X_test)

In [ ]:
accuracy_score(Y_test, Y_preds)

0.7883677298311444